############################
# ===== Backend (Spring Boot) =====
############################

Backend/target/
Backend/.classpath
Backend/.project
Backend/.settings/
Backend/*.log
Backend/.gitattributes
Backend/.gitignore


############################
# ===== Frontend (React) =====
############################

frontend/node_modules/
frontend/build/
frontend/dist/
frontend/.env
frontend/.env.*

############################
# ===== General =====
############################

# OS files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/

# Logs
*.log

# Temporary files
*.tmp
*.swp

############################
# ===== Secrets =====
############################

.env
.env.local
.env.production

Pics/*
seeder.js
cleaner.js
